@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";
@import "./default.css";
@import "./footer.css";
@import "./shared.css";
@import "./menu.css";

.info-section__tab__border-bottom {
    background-color: #ef4056;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 16px);
}

/* Start Cart Shopping Styles */

.cart-container {
    padding-top: 188px;
}

.cart-wrapp {
    width: 100%;
    max-width: 1280px;
}

.cart-shopping__colRight {
    border-radius: 8px;
    border: 1px solid #e0e0e6;
    background-color: #fff;
}

.cart-shopping__colLeft-link {
    border: 1px solid #f0f0f1;
    border-radius: 8px;
}

.cart-shopping__colRight-tab {
    color: #767790;
}

.active-tab {
    color: #ef4056 !important;
}

.cart-shopping__badge {
    width: 20px;
    height: 20px;
    background-color: #ef4056;
    border-radius: 8px;
    font-size: .7rem;
    font-weight: 700;
    line-height: 2.17;
}

.cart-shopping__footer-title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.12;
    color: #23254e;
}

.cart-shopping__footer-subtitle {
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.12;
    color: #5a5c7a;
}

.cart-shopping__colLeft-container {
    width: 300px;
    position: sticky;
    top: 188px;
}

.cart-shopping__colLeft-login-icon {
    width: 18px;
    height: 18px;
    color: #f9a825;
}

.cart-shopping__colLeft-login-title {
    font-size: .8rem;
    font-weight: 600;
    line-height: 2.15;
    color: #080a38;
}

.cart-shopping__colLeft-login-arrow {
    width: 13px;
    height: 13px;
    color: #3f4064;
}

.cart-shopping__colLeft-login-text {
    color: #767790;
}

.empty-cart__image {
    width: 200px;
    height: 150px;
}


/* Start Related Products Swiper Styles */

.related-products {
    border: 1px solid #e0e0e6;
    border-bottom: 4px solid #f1f2f4;
    border-radius: 8px;
}

.swiper6 .swiper-container {
    width: 100%;
}

.swiper6 .swiper-slide {
    margin-left: 24px;
    width: 192px;
    min-width: 192px;
    max-width: 192px;
}

.swiper6 .swiper-slide>a {
    border-left: 1px solid #f1f2f4;
}

.swiper6 .slide-item__img {
    width: 150px;
    height: 150px;
}

.swiper6 .item-price {
    color: #3f4064;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.15;
}

.swiper6 .item-price__off {
    font-size: .75rem;
    font-weight: 400;
    line-height: 2.17;
    color: #c3c3ce;
    text-decoration: line-through;
}

.swiper6 .slide-show-all__wrapp {
    margin-left: 2px;
    width: 192px;
}

.swiper-button-next6,
.swiper-button-prev6 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #c3c3ce;
    color: #3f4064;
    font-size: 12px;
}

.swiper-button-prev6.swiper-button-disabled {
    opacity: 0 !important;
}

.swiper-button-next6.swiper-button-disabled {
    opacity: 0 !important;
}

.product-card__stock-text {
    font-size: .6rem;
    font-weight: 400;
    line-height: 2.17;
    color: #ef394e;
}

.product-card__title {
    height: 52px;
    color: #3f4064;
    font-size: .7rem;
    font-weight: 700;
    line-height: 2.17;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.info-section__tab {
    position: sticky;
    top: 139px;
    transition: top .2s ease-in-out;
    z-index: 2;
}

.info-section__tab_title {
    color: #767790;
    font-size: .8rem;
    font-weight: 600;
    line-height: 2.17;
    cursor: pointer;
}

.info-section__tab_title.tab-active {
    color: #ef4056;
}

.info-section__tab__border-bottom {
    background-color: #ef4056;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 16px);
}

.product-intro__text-body {
    font-size: .9rem;
    font-weight: 400;
    line-height: 2.15;
    color: #23254e;
}

.product-intro__icon {
    width: 11px;
    height: 11px;
    color: #19bfd3;
}

.product-intro__sm-text {
    font-size: .7rem;
    font-weight: 600;
    line-height: 2.17;
    color: #19bfd3;
    cursor: pointer;
}

.product-price__discount-wrapp {
    background-color: #ef394e;
    border-radius: 16px;
    height: 20px;
}

.product-price__discount-text {
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.17;
}

.product-prev-price {
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.17;
    text-decoration: line-through;
    color: #c3c3ce;
    margin-left: 34px;
}

.product-price {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 2.12;
    color: #3f4064;
}

.product-price__toman {
    font-size: .5rem;
    font-weight: 700;
    line-height: 2.12;
    color: #23254e;
}

/* Temporary */

.ad-container {
    background-color: #fff;
}

.digiplus-benefit-card-temporary {
    border: 1px solid #f1f2f4;
    border-color: #b12ba4;
    border-radius: 8px;
}

.digiplus-benefit-card-temporary__image {
    width: 93px;
    height: 24px;
}

.digiplus-benefit-card-temporary__button {
    background-color: #b12ba4;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    align-items: center;
    overflow: hidden;
    transition: top .3s ease-in-out;
    font-size: .7rem;
    font-weight: 700;
    line-height: 2.17;
}

.digiplus-pattern {
    position: absolute;
    left: 0;
    top: 0;
}

/* Start Digi Plus Modal */

#digiplus-benefit__close-btn {
    cursor: pointer;
}

.digiplus-modal__bg {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: opacity .25s ease-in-out;
    z-index: 9999;
}

.digiplus-modal {
    height: auto;
    width: 600px;
    max-width: 80vw;
    min-width: 460px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2.5s ease;
}

.digiplus-modal__top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.digiplus-modal__main {
    max-width: 100vw;
    border-radius: 8px;
    padding-top: 73px;
    padding-bottom: 115px;
    overflow-y: auto;
}

.digiplus-modal__main-plans {
    overflow-x: hidden;
    overflow-y: auto;
}

.digiplus-modal__main-plans>.col-6 {
    padding: 0 .5rem !important;
}

.digiplus-modal__main-plan-item {
    height: 100%;
    min-height: 180px;
    width: auto;
    padding: 3px 15px;
    background-color: #fff;
    border: 1px solid #f1f2f4;
    border-radius: 8px;
    cursor: pointer;
}

.digiplus-modal__main-plan-item:hover {
    background-color: rgba(23, 191, 220, 0.05);
}

.digiplus-modal__main-plan-item-active {
    background-color: rgba(15, 171, 198, 5%);
    border: 2px solid #0fabc6;
}

.digiplus-modal__calender-icon {
    width: 30px;
    height: 30px;
    color: #b12ba4;
}

.digiplus-modal__calender-count {
    left: 50%;
    top: 69%;
    transform: translate(-50%, -50%);
    color: #b12ba4;
    font-size: 12px;
    font-weight: bold;
}

.title-line__purple {
    width: 4.4rem;
    height: 0.1rem;
    background-color: #b12ba4;
}

.digiplus-modal__main-bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .14), 0 -2px 2px rgba(0, 0, 0, .05);
    background-color: #fff;
    z-index: 3;
}

.digiplus-modal__main-bottom-btn {
    height: 48px;
    font-size: .8rem;
    font-weight: 700;
    line-height: 2.15;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #b12ba4;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    align-items: center;
    overflow: hidden;
    transition: top .3s ease-in-out;
}

.checkout-btn {
    padding: 5px 16px;
    background-color: #ef4056;
    color: #fff;
    border: 1px solid #ef4056;
    border-radius: 8px;
    font-size: .9rem;
    font-weight: 500;
    line-height: 2.15;
}

.checkout-btn:hover {
    color: #fff;
}

.cart-shopping__colLeft-box-bottom {
    background-color: #f1f2f4;

}

.aside-box2 {
    background-color: #fff;
    border: 1px solid #e0e0e6;
    border-radius: 8px;
}

.slider__prev-button-selector {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 8px 0 0 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    z-index: 10;
}

.slider__next-button-selector {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    z-index: 10;
}

.swiper-rtl .swiper-button-prev {
    right: 0 !important;
    opacity: 1 !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 0 !important;
    opacity: 1 !important;
}

.slider__next-button-selector-icon {
    width: 20px;
    height: 20px;
    color: #3f4064;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
}

/* Cart Box Bottom */

.cart__box-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .14), 0 -2px 2px rgba(0, 0, 0, .05);
}

.cart__box-bottom-btn {
    background-color: #ef4056;
    border: 1px solid #ef4056;
    border-radius: 8px;
    color: #fff;
    padding: 12px 16px;
    height: 48px;
    font-size: .9rem;
    font-weight: 700;
    line-height: 2.15;
}

.cart__box-bottom-btn :hover {
    color: #fff;
}

/* When Basket Isnt Empty */

.cart-shopping__basket-container {
    position: relative;
}

.cart-shopping__setting-btn {
    border: 0;
    outline: none;
    background: none;
    color: #9e9fb1;
    width: 24px;
    height: 24px;
}

.remove-product__container {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    /* opacity: 0; */

}

.color-product {
    width: 18px;
    height: 18px;
    background-color: rgb(245, 0, 87);
    border-radius: 50%;
}

.cart-shopping__icon {
    width: 18px;
    height: 18px;
    color: #9e9fb1;
}

.bullet-line {
    height: calc(50% - 5px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e0e0e6;
    width: 1px;
}

.delivery-express-icon {
    width: 16px;
    height: 16px;
    color: #e6123d;
}

.item-quantity__container {
    width: 102px;
    max-width: 102px;
    min-height: 44px;
    max-height: 44px;
    border-radius: 8px;
    border: 1px solid #e0e0e6;
}

.item-quantity-recently__container {
    width: 80px;
    max-width: 80px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 8px;
    border: 1px solid #e0e0e6;
    background-color: #fff;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .14), 0 -2px 2px rgba(0, 0, 0, .05)
}

.item-quantity__icon {
    width: 15px;
    height: 15px;
    color: #ef4056;
}

.cart-next-purchase__btn {
    font-size: .7rem;
    font-weight: 700;
    line-height: 2.17;
    color: #19bfd3;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    align-items: center;
    overflow: hidden;
    transition: top .3s ease-in-out;
}

.user-basket-item:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.user-basket-item:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.user-basket-item:not(:last-child) {
    border-bottom: 1px solid #e0e0e6;
}

.add-product-btn-recently-view {
    position: absolute;
    bottom: 0;
    right: 0;
}

.quantity-red-border {
    border: 1px solid #ef4056;
    background-color: #fff;
    border-radius: 50%;
}

.add-product-btn-recently-view-outline {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
}

.swiper6 .swiper-slide {
    margin-left: 0 !important;
}

.cart-save-all-wrapper {
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 20;
}

.cart-save-all-next-purchase,
.cart-delete-items-all {
    border: none;
    background: transparent;
    cursor: pointer;
    text-align: center;
}

.cart-save-all-bg {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.delete-all-products-basket__modal-bg {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, .3);
    transition: all .3s ease-in-out;
    z-index: 9999;
    overflow: hidden;
}

.delete-all-products-basket__modal {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #000;
    height: 27vh;
    width: 20vw;
    max-height: 27vh;
    max-width: 20vw;
    min-width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow: hidden;
    transition: opacity .3s ease-in-out;
}

.delete-all-products-basket__modal-content {
    display: flex;
    flex-direction: column;
    padding-top: 59px;
    background-color: #fff;
    border-radius: 8px;
    transition: all 2.5s ease;
}

.delete-all-products-basket__modal button {
    border: 1px solid #ef4056;
    color: #ef4056;
    outline: none;
    background: transparent;
    padding: 4px 16px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
}

.delete-all-products-basket__modal .active {
    background-color: #ef4056;
    color: #fff;
}