/* @font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans/IRANSans.ttf);
} */

@font-face {
    font-family: "IRANYekan";
    src: url(../fonts/iranyekanCufonfonts/Qs_Iranyekan.ttf);
}
