/* Start Footer Styles */

.footer {
    border-top: 1px solid #f1f2f4;
    padding-top: 32px;
    margin-top: 40px;
}

.back-to-up-btn {
    border: 1px solid #e0e0e6;
    outline: none;
    background-color: transparent;
    color: #080a38;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: top .3s ease-in-out;
}

.back-to-up-text {
    color: #9e9fb1;
    font-size: .8rem;
    font-weight: 700;
    line-height: 2.17;
}

.back-to-up-arrow {
    width: 14px;
    height: 14px;
    color: #9e9fb1;
}

.footer-text {
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.17;
    color: #3f4064;
}

.footer-icon__wrapp {
    width: 56px;
    height: 56px;
}

.footer-icon__caption {
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.17;
    color: #3f4064;
    text-align: center;
}



.footer-menu__item {
    font-size: .8rem;
    font-weight: 400;
    line-height: 2.15;
    color: #767790;
}

.footer-menu__item:hover {
    color: #767790;
}

.footer-menu__title {
    font-size: .9rem;
    font-weight: 700;
    line-height: 2.15;
    color: #3f4064;
}

.social-media__icon-wrapp {
    width: 48px;
    height: 48px;
    color: #9e9fb1;
}

.aparat-logo {
    fill: #9e9fb1 !important;
}

.social-media__icon {
    font-size: 40px;
}

.input-container {
    background-color: #f1f2f4 !important;
    border: none;
    outline: none;
    height: 2.7rem;
    width: 100%;
    border-radius: 8px;
    color: #3f4064;
    caret-color: #ef4056
}

.form-control:focus {
    box-shadow: none;
    background-color: #f1f2f4 !important;
    border-color: #f1f2f4 !important;
}

.submit-email-btn,
.submit-email-btn:hover {
    background-color: #ef4056;
    border: 1px solid #ef4056;
    color: #fff;
    font-size:.8rem;
    font-weight: 700;
    line-height: 2.15;
    height: 2.7rem;
    width: auto;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    transition: top .3s ease-in-out;
}

.disable-email-btn {
    background-color: #e0e0e2;
    border: 1px solid #e0e0e6;
    color: #fff;
    font-size:.8rem;
    font-weight: 700;
    line-height: 2.15;
    height: 2.7rem;
    width: auto;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
    transition: top .3s ease-in-out;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: #fff;
    pointer-events: none;
    background-color: #e0e0e2;
    border-color: transparent;
    opacity: 1;
}

.footer-logo-container {
    background-color: #3c4b6d;
    border-radius: 8px;
}

.footer-logo-text {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.1;
}

.footer-logo-wrapp {
    width: 44px;
    height: 44px;
}

.more-icon__conatainer {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #e0e0e6;
    background-color: #fff;
}

.app-footer__link {
    width: calc(50%-4*4);
}

.app-footer__img-wrapp {
    height: 44px;
    border-radius: 4px;
}

.app-footer__img {
    height: 100%;
    display: inline-block;
    object-fit: contain;
    border-radius: 4px;
}

.more-information {
    font-size: .7rem;
    font-weight: 700;
    line-height: 2.17;
    color: #fff;
}

.more-information:hover {
    color: #fff;
}

.seo::before {
    background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.seo h1 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.1;
    color: #5a5c7a;
}

.seo h2 {
    font-size: .9rem;
    font-weight: 700;
    line-height: 2.15;
    color: #5a5c7a;
}

.seo p {
    font-size: .75rem;
    font-weight: 500;
    line-height: 2.1;
    color: #5a5c7a;
}

.see-more {
    font-size: .7rem;
    font-weight: 700;
    line-height: 2.17;
    color: #19bfd3;
}

.footer-item-border {
    border: 1px solid #e0e0e6;
    border-radius: 8px;
    cursor: pointer;
}

.footer-item-img {
    width: 75px;
    height: 75px;
}

.footer-copyright {
    font-size: .7rem;
    font-weight: 400;
    line-height: 2.17;
    color: #767790;
}

.footer-bottom {
    background-color: #f1f2f4;
}

.container-4xl-w {
    width: 100%;
    max-width: 1676px;
}

.footer-brand-link {
    width: 11%;
    height: 80px;
    border-right: 1px solid #e0e0e6;
    border-bottom: 1px solid #e0e0e6;
}

.footer-brand-item {
    height: 20px;
}

.helper--error {
    color: #b2001a;
}

