@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";
@import "./default.css";
@import "./footer.css";
@import "./shared.css";
@import "./menu.css";

.container-2xl-w {
    width: 100%;
    max-width: 1280px;
}

.privacy-container__img-wrapp {
    width: 48px;
    height: 48px;
}

.privacy-text-h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.1;    
}

.privacy-paragraph {
    font-size: .8rem;
    font-weight: 400;
    line-height: 2.15;
    color: #3f4064;
    margin-bottom: 1rem;
}

.info-error__wrapp {
    width: 20px;
    height: 20px;
    background-color: #f9a825;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-error__wrapp-icon {
    color: #fff;
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
}

.info-error-text {
    color: #f9a825 !important;
}

.privacy-paragraph-link {
    color: #3f4064;
}

.privacy-paragraph-strong {
    font-weight: 700 !important;
}


/* Start Login Loading Styles */

.login-loading__btn-wrapp {
    top: 115%;
    left: 50%;
    cursor: pointer;
}

/**
  * ==============================================
  * Dot Flashing
  * ==============================================
  */

.dot-flashing {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: #9880ff;
    }

    50%,
    100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}