/* Start Header Responsive */

@media only screen and (max-width: 1024px) {

    .header-navigation__menu {
        display: none !important;
    }

    .social-media__icon-wrapp {
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }

    .social-media__icon {
        font-size: 25px;
    }

    .footer-brand-link {
        height: 80px;
        width: 33%;
    }

    .popular-brand__img-wrapp {
        width: 70px;
        height: 70px;
    }

    .social-media__icon-wrapp:last-child {
        margin-left: 0;
    }

    .swiper1 {
        border-radius: 0px !important;
    }
}

@media only screen and (max-width:992px) {

    .header {
        position: relative !important;
        height: 195px !important;
        box-shadow: none;
        border-bottom: 1px solid #f1f2f4;
    }

    .pt-175 {
        padding-top: 0 !important;
    }

    .header-md {
        padding: 12px 16px 4px 16px;
        border-bottom: 1px solid #f1f2f4;
    }

    .top-bar__link {
        margin-left: 0;
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #f1f2f4;
    }

    .top-bar__searchBox-container {
        width: 100%;
        border-bottom: 1px solid #f1f2f4;
    }

    .top-bar__searchBox-wrapp {
        width: 100%;
        margin-left: 16px;
    }

    .top-bar__dash {
        display: none;
    }

    .top-bar__searchBox-type {
        font-size: .7rem;
    }

    .top-bar__login-btn {
        border: 0;
    }

    .header-box-shadow {
        position: relative;
        box-shadow: none;
    }

    .header-navigation__wrapp {
        flex-direction: row;
        align-items: center;
    }

    .header-navigation__city {
        width: 100%;
    }

    .header-navigation__city-icon {
        color: #f9a825;
    }

    .mobile-menu__icon {
        width: 100%;
        padding-bottom: 12px;
        border-bottom: 1px solid #f1f2f4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4px;
    }

    .top-bar__link {
        padding: 0;
        border: 0;
    }

    .top-bar__logo {
        height: 25px;
    }

    .mobile-menu__icon-bar {
        display: block !important;
    }

    .story-row__pt {
        padding-top: 0;
    }

    .swiper1 {
        height: 300px !important;
    }

    .swiper-pagination1 {
        top: 456px !important;
    }

    .swiper-button-prev1,
    .swiper-button-next1 {
        top: 445px !important;
    }

    .swiper2 .swiper-slide {
        margin-left: 3px !important;
    }

    .slider-2 {
        border-radius: 0;
        padding: .7rem 0 !important;
    }

    .incredible-offers__icon {
        width: 40px;
        height: 40px;
    }

    .incredible-offers__img-wrapp {
        width: 190px;
        height: 20px;
    }

    .incredible-products__btn-text {
        display: none;
    }

    .incredible-products__btn {
        padding: 12px 12px;
    }

    .adservice-img-link{
        width: calc((100% - 16px) / 2);
        margin-right: 0;
    }

    .adservice-img-link:last-child {
        margin-top: 16px;
    }

    .adservice-img-link:nth-child(2n) {
        margin-right: 16px;
    }

    .adservice-img-link:nth-child(3n) {
        margin-top: 16px;
    }

    .category-item {
        width: 24%;
        margin-bottom: 0;
    }

    .category-item__img {
        width: 90px;
        height: 90px;
    }

    .category-item__text {
        font-size: .65rem;
    }

    .swiper4-border {
        border: 0;
    }

    .swiper-button-next4,
    .swiper-button-prev4 {
        display: none !important;
    }

    .border-radius {
        border: 0;
    }

    .widget-bg-color {
        border-radius: 0;
    }

    .post-products__wrapp {
        margin: 0 auto !important;
        width: 100%;
    }

    .digiclub-container {
        width: 390px;
    }

    .digiclub-text {
        font-size: .65rem;
    }

    .digiclub-logo-wrapp {
        width: unset;
    }

    .digiclub-bg {
        border-radius: 0;
    }

    .footer-logo-wrapp {
        width: 24px;
        height: 24px;
    }

    .account-wrapper {
        width: 100%;
    }

    .account-wrapper__input-container {
        border: 0 !important;
        border-bottom: 2px solid #d32f2f !important;
        background-color: #f1f2f4;
    }

    .top-bar__gif>img {
        height: 35px;
    }

    .privacy-text-h3 {
        font-size: .9rem;
    }

    .privacy-container__img-wrapp {
        width: 35px;
        height: 35px;
    }

    .privacy-paragraph {
        font-size: .7rem;
    }

    .accordion-item {
        padding: 0;
    }

    .accordion-button {
        font-size: .8rem;
    }

    .banner-img__wrapp-lg {
        width: 100% !important;
    }

    .banner-img__wrapp-lg:last-child {
        margin-top: 16px;
        margin-right: 0;
    }

    .banner-img__wrapp-lg .banner-img {
        width: 100%;
    }

    .swiper6 .swiper-slide {
        width: 160px;
        min-width: 160px;
        max-width: 160px;
        margin-left: 0;
    }

    .product-card__stock-text {
        font-size: .63rem;
    }

    .product-price {
        font-size: .7rem;
    }

    .product-prev-price {
        font-size: .65rem;
    }

    .text-title {
        font-size: .9rem;
        font-weight: 500;
    }

    .related-products {
        border: 0;
        border-radius: 0;
        border-bottom: 8px solid #f1f2f4;
    }

    .product-intro__text-body {
        font-size: .75rem;
    }

    .digiplus-wrapp {
        background-color: #f1f2f4;
    }

    .digiplus-container {
        border: 0;
    }

    .product__shortReview-item:nth-child(1) {
        max-width: 45%;
    }

    .specification-attribute__value {
        max-width: 104px;
    }

    .pt-177 {
        padding-top: 0 !important;
    }

    .w-300-345 {
        width: 100%;
    }

    .colors-box {
        border-top: 1px solid #f1f2f4;
    }

    .cart-shopping__colRight-tab {
        font-size: .8rem;
    }

    .border-all {
        border: 0;
    }

    .recent-products__slider {
        border-top: 8px solid #f1f2f4;
    }

    .cart-container {
        padding-top: 0;
    }

    .cart-shopping__colLeft {
        width: 100%;
        border: 0;
    }

    .cart-shopping__colRight {
        border: 0;
    }

    .cart-shopping__colLeft-link {
        box-shadow: 0 1px 1px rgba(0,0,0,.14), 0 4px 4px rgba(0,0,0,.1);
    }

    .ad-container {
        background-color: #f1f2f4;
    }

    .digiplus-modal {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .digiplus-modal__main {
        padding-top: 55px;
        padding-bottom: 111px;
    }

    .digiplus-modal__top,
    .digiplus-modal__main-bottom {
        border-radius: 0;
    }

    .text-h5 {
        font-size: .9rem;
    }

    .cart-shopping__colLeft-container {
        width: 100%;
    }

    .cart-shopping__colLeft-box-bottom {
        background-color: transparent;
    }

    .free-delivery-digiplus__container {
        border: 0;
        background-color: #f1f2f4 !important;
    }

    .aside-box2 {
        margin-top: 0 !important;
    }

    .promotion-banner___special-sell {
        border-left: 0;
    }

    .product-list__wrapper {
        padding-top: 0;
    }
    
    .support-btn {
        display: none !important;
    }

    .main-banner-img__wrapp {
        width: 100% !important;
        margin-top: 15px !important;
    }

    .main-banner-img__wrapp-me {
        margin-right: 0;
    }

    .border-left-none {
        border-left: 0;
    }

    .categories .col-2 {
        width: 150px !important;
        margin: .3rem;
    }

}

@media only screen and (min-width: 1280px) {
    .widget-bg {
        background-size: 372px 279px;
        max-width: 416px;
    }

    .digiclub-img {
        width: 168px !important;
        max-width: unset;
    }

    .productItem-wrapp>:nth-child(6n) {
        border-left: none;
    }

    .productItem-wrapp>:nth-child(n+13) {
        border-bottom: none;
    }

    .footer-namad-w {
        width: auto !important;
    }

    .adservice-img-link:first-child {
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 1100px) {

    .header-navigation__wrapp {
        font-size: .72rem;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 992px) {

    .productItem-wrapp>:nth-child(4n) {
        border-left: none;
    }

    .productItem-wrapp>:nth-child(n+17) {
        border-bottom: none;
    }

    .productItem-wrapp>:last-child {
        border-left: none;
    }

    .top-menu-item:last-child{
        display: none !important;
        opacity: 0;
    }
}

@media only screen and (max-width: 992px) and (min-width: 576px) {

    .productItem-wrapp>:nth-child(even) {
        border-left: none;
    }

    .productItem-wrapp>:nth-last-child(-n+2) {
        border-bottom: none;
    }

}

@media only screen and (max-width: 576px) {

    .productItem-wrapp>:nth-child(n) {
        border-left: none;
    }

    .productItem-wrapp>:nth-last-child(-n+1) {
        border-bottom: none;
    }

}


/* Finish Header Responsive */

@media only screen and (min-width: 1024px) {
    .container-xl-w-lg {
        width: 100%;
        max-width: 1280px;
    }

    .bt-8 {
        border-top: 4px solid #f1f2f4;
    }

    .bb-8 {
        border-bottom: 4px solid #f1f2f4;
    }
}

@media only screen and (max-width: 1024px) {

    .select-city__modal {
        max-width: 100% !important;
        max-height: 100% !important;
        min-width: 100% !important;
        height: 100% !important;
    }

    .buy-box__footer-container {
        display: flex !important;
    }

    nav {
        padding-right: 0;
        padding-left: 0;
    }

    .product-info__left-section-link {
        font-size: .75rem;
    }

    .product-info__left-h4 {
        font-size: 1rem;
    }

    .variantInfo-container {
        width: 100%;
    }

    .variantInfo-colors-title {
        font-size: .9rem;
    }

    .variantInfo-px {
        padding: 1px 4px 1px 12px;
        border-radius: 50px;
    }

    .variantInfo-color__content-main {
        width: 22px;
        height: 22px;
    }

    .variantInfo-properties {
        border-top: 8px solid #f1f2f4;
    }

    .info-section__wrapp-property,
    .info-section__wrapp-value {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 1024px) {
   
}

@media only screen and (max-width: 1024px) {
    .product-list__sidebar-container {
        display: none;
    }
}

@media only screen and (max-width: 1295px) {
    .story {
        margin: 20px;
    }

    .header-md {
        border-bottom: 0;
    }
}

@media only screen and (min-width:1100px) and (max-width: 1350px) {

    .subCategory-item__name {
        font-size: .67rem;
    }
}

@media only screen and (min-width: 1295px) {

    .header-md {
        border-bottom: 0;
    }
}

@media only screen and (max-width:1200px) {

    .header-nav__item-link {
        font-size: .7rem;
    }

    .category-item {
        width: 15%;
    }

    /* .text-body-2 {
        font-size: .71rem;
    } */
}

@media only screen and (max-width: 992px) {
    .category-item {
        width: 21%;
    }
}

@media only screen and (max-width: 1440px) {

    .mini-buy-box__sticky-container {
        display: none !important;
        margin-right: 0 !important;
    }

    .promotion-banner___special {
        border-radius: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .footer-menu:last-child {
        width: 30%;
        max-width: 30%;
    }
    
    .footer-menu:not(:last-child) {
        width: 21%;
    }
}

@media only screen and (min-width: 992px) {

    .product-info {
        width: 36%;
    }

    .cart-shopping__container {
        border-bottom: 0;
    }
    
    .mobile-support-icon {
        display: none !important;
    }
}

@media only screen and (max-width: 1399px) {

    .product-list__item {
        border-left: 1px solid #f1f2f4;
    }

    .product-list__item:nth-of-type(3n) {
        border-left: none;
    }

}

@media only screen and (max-width:630px) {

    .categories .col-2 {
        width: 100px !important;
        margin: 0.3rem;
    }

    .breadcrumb__link {
        font-size: .6rem;
    }
}