/* Start Story Content */

.story-content__wrapper {
  width: 100%;
  height: 130px;
}

.story-notifications__content {
  background-color: #fff;
}

.stories.carousel .story:first-child,
.stories.carousel .story:last-child {
  margin: 20px 40px;
}

.story,
.stories.carousel .story {
  display: inline-block;
  width: 75px;
  height: 75px;
  max-height: 100%;
  margin: 20px 40px;
}

.story-row__pt {
  padding-top: 175px;
}

.name {
  display: block;
  margin-top: 0.5em;
  line-height: 1.25;
  font-weight: 400;
  display: inherit;
  overflow-wrap: break-word;
  font-size: 14px !important;
  color: #333333;
}

.story-content__wrapper {
  width: 100%;
  height: 120px;
}

.story-content__wrappers > .story {
  display: inline-block;
  width: 75px !important;
  height: 75px !important;
  max-height: 100% !important;
  margin: 20px 40px !important;
}

.stories.carousel .story > .item-link > .item-preview {
  height: 75px !important;
  width: 75px !important;
  border-radius: 50%;
}

.stories.carousel {
  overflow: visible;
}

#zuck-modal-content .story-viewer .slides .item {
  background: transparent;
}

.media {
  width: 720px;
  height: 50% !important;
}

@keyframes zuckSlideTime {
  0% {
    max-width: 100%;
  }

  100% {
    max-width: 0;
  }
}

#zuck-modal-content .story-viewer {
  direction: rtl;
}

#zuck-modal-content .story-viewer .slides-pointers > * > .active > span {
  animation-duration: 5s;
}

#zuck-modal-content .story-viewer .head .info .name {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -2px;
  color: #ffffff;
}

.stories.carousel .story > .item-link > .info {
  margin-top: 0.2em;
}

#zuck-modal-content .story-viewer .slides .item {
  background-color: transparent;
}

#zuck-modal-content .story-viewer .slides-pointers {
  display: table;
  table-layout: fixed;
  border-spacing: 6px;
  border-collapse: separate;
  position: absolute;
  width: 100vh;
  top: 1px;
  border-radius: 2px;
  left: calc(50vw - 50vh);
  right: calc(50vw - 50vh);
  z-index: 100020;
}

#zuck-modal-content .story-viewer .slides .item > .media {
  border-radius: 6px;
}

#zuck-modal-content .story-viewer .slides-pointers > * > * > .progress {
  background: #fff;
  width: 100%;
  max-width: 0;
  height: 3px;
  display: block;
  border-radius: 2px;
}

#zuck-modal .slider > * {
  top: 25% !important;
}

#zuck-modal-content .story-viewer .head {
  right: 404px;
  padding: 12px 5px;
}

.right {
  position: absolute;
  top: 19px;
  left: 422px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zuck-modal-content .story-viewer .head .time {
  opacity: 0;
}

#zuck-modal-content .head .right .close {
  color: #fff;
  display: block;
  width: 32px !important;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  font-weight: 300;
  padding-top: 2px;
  line-height: 1 !important;
  border: initial;
  font-size: 30px !important;
}

#zuck-modal.with-cube #zuck-modal-content {
  transform: scale(0.95);
  perspective-origin: 50% 50%;
  overflow: visible;
  transition: 0.3s;
  perspective: calc(720px * 10);
}

#zuck-modal.with-cube .slider {
  transform-style: preserve-3d;
  transform: rotateY(0);
}

#zuck-modal .slider > .previous {
  left: 0;
}

#zuck-modal .slider > .viewing {
  left: 720px;
}

#zuck-modal .slider > .next {
  left: 1440px;
}

@-webkit-keyframes instorySlideTime {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}

@keyframes instorySlideTime {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100%;
  }
}

@-webkit-keyframes instorySlideTimeRTL {
  0% {
    max-width: 100%;
  }

  100% {
    max-width: 0;
  }
}

@keyframes instorySlideTimeRTL {
  0% {
    max-width: 100%;
  }

  100% {
    max-width: 0;
  }
}

@-webkit-keyframes instoryLoading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes instoryLoading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

#instory-overlay,
div.ins-instory-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2147483637;
}

#zuck-modal {
  outline: 0 !important;
  overflow: visible;
  position: fixed;
  z-index: 2147483647;
  font-size: 14px;
  font-family: inherit;
  border-radius: 6px;
}

#zuck-modal * {
  user-select: none;
  outline: 0;
}

.story-viewer.muted.previous.rtl {
  transform: rotateY(-270deg) translateX(50%) !important;
  transform-origin: top right !important;
  z-index: 10 !important;
}

.story-viewer.muted.next.rtl {
  transform: rotateY(270deg) translateX(-50%) !important;
  transform-origin: center left !important;
  z-index: 0 !important;
}

.ins-instory-float-right {
  float: right !important;
}

.ins-instory-float-left {
  float: left !important;
}

.ins-instory-float-left > strong {
  margin: 4px;
}

.slides-pointers.rtl-slides-pointers {
  right: initial !important;
}

#instory-modal.with-effects.animated {
  transform: scale(1);
}

#instory-modal.with-effects.closed {
  transform: translateY(200%);
}

#instory-modal.with-effects.closed-up {
  transform: translateY(-200%);
}

#instory-modal .instory-slider > * {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 720px;
}

#instory-modal .instory-slider > .previous {
  left: 0;
}

#instory-modal .instory-slider.animated {
  transition: transform 0.25s linear;
}

#instory-modal.with-cube #instory-modal-content {
  transform: scale(0.95);
  perspective-origin: 50% 50%;
  overflow: visible;
  transition: 0.3s;
  perspective: calc(720px * 10);
}

#instory-modal.with-cube .instory-slider {
  transform-style: preserve-3d;
  transform: rotateY(0);
}

#instory-modal.with-cube .instory-slider > .previous {
  backface-visibility: hidden;
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
  left: 720px;
}

#instory-modal.with-cube .instory-slider > .viewing {
  backface-visibility: hidden;
  left: 720px;
  transform: translateZ(calc(720px / 2));
}

#instory-modal.with-cube .instory-slider > .next {
  backface-visibility: hidden;
  transform: rotateY(-250deg) translateX(50%);
  transform-origin: top right;
  left: 720px;
}

#instory-modal.with-cube .instory-slider > .clone-next,
#instory-modal.with-cube .instory-slider > .clone-previous {
  backface-visibility: hidden;
  transform: translateZ(calc(720px / 2));
  left: 720px;
}

.instory-slider-button {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  width: 24px;
  height: 30px;
  cursor: pointer;
}

.instory-previous-story-button {
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAQAAABeMbWRAAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAAEgAAABIAEbJaz4AAAA2SURBVCjPY2TAAP8VGPYzYBP+f//////3cQj/VxhawgwMOIQZmBhwAZxGDRMpRmxeZtjPwAAAK++XzGnykk4AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMDYtMjRUMDU6NTk6NDQtMDU6MDBILMcBAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA2LTI0VDA1OjU5OjQ0LTA1OjAwOXF/vQAAAABJRU5ErkJggg==")
    center no-repeat;
  left: -30px;
}

.instory-next-story-button {
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAYAAAD0OH0aAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA8SURBVHgB7c7BCQAgDEPR4CTuv5SjRIUcPMbSS6GB3t6HguTSTTgTph1d1FG9aCBzXy81DmMFPn4CD59tic9hD/D4X3UAAAAASUVORK5CYII=")
    center no-repeat;
  right: -30px;
}

#instory-modal-content {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 720px;
}

#instory-modal-content .story-viewer {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  border-radius: 6px;
  width: 720px;
}

#instory-modal-content .ui-resizable-handle {
  display: none;
}

#instory-modal-content .story-viewer.viewing {
  z-index: 5;
}

#instory-modal-content
  .story-viewer.viewing:not(.paused):not(.stopped)
  .slides-pointers
  > *
  > .active
  > b {
  animation-play-state: running;
}

#instory-modal-content .story-viewer.next {
  z-index: 10;
}

#instory-modal-content .story-viewer.previous {
  z-index: 0;
}

#instory-modal-content .story-viewer .slides-pointers {
  display: table;
  table-layout: fixed;
  border-spacing: 6px;
  border-collapse: separate;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100020;
  transition: opacity 0.5s;
}

#instory-modal-content .story-viewer .slides-pointers > * {
  display: table-row;
}

#instory-modal-content .story-viewer .slides-pointers > * > * {
  display: table-cell;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

#instory-modal-content .story-viewer.rtl .slides-pointers > * > * {
  background: #ffffff;
}

#instory-modal-content .story-viewer.rtl .slides-pointers > * > * > b {
  background-color: rgba(0, 0, 0, 0.15);
}

#instory-modal-content .story-viewer .slides-pointers > * > * > b {
  width: auto;
  max-width: 0;
  height: 2px;
  display: block;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  border-radius: 2px;
  background: #ffffff;
}

#instory-modal-content .story-viewer .slides-pointers > * > .seen {
  background: #ffffff;
}

#instory-modal-content .story-viewer .slides-pointers > * > .active > b {
  animation-name: instorySlideTime;
  animation-timing-function: linear;
}

#instory-modal-content .story-viewer .ins-story-head {
  position: absolute;
  height: 56px;
  top: 10px;
  left: 0;
  right: 0;
  line-height: 56px;
  z-index: 100021;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 0 1px rgba(0, 0, 0, 0.1);
  padding: 0 6px;
  transition: opacity 0.5s;
}

#instory-modal-content .story-viewer .ins-story-head .ins-story-img {
  background-size: cover;
  width: 42px;
  height: 42px;
  display: inline-block;
  margin-right: 12px;
  margin-top: -6px;
  border-radius: 50%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

#instory-modal-content .story-viewer .ins-story-head .ins-story-img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000000;
  opacity: 0.1;
  box-sizing: border-box;
}

#instory-modal-content .story-viewer .ins-story-head .time {
  display: none !important;
  opacity: 0.75;
  font-weight: 500;
  font-size: 13px;
}

#instory-modal-content .story-viewer .ins-story-head .ins-story-head-left {
  line-height: 1 !important;
  display: inline-block;
  margin: 10px 0;
}

#instory-modal-content
  .story-viewer
  .ins-story-head
  .ins-story-head-left
  > div {
  display: inline-block;
  max-width: calc(100vw - 90px);
  vertical-align: middle;
}

#instory-modal-content
  .story-viewer
  .ins-story-head
  .ins-story-head-left
  > div
  > * {
  width: 100%;
  display: inline-block;
  line-height: 21px;
}

#instory-modal-content
  .story-viewer
  .ins-story-head
  .ins-story-head-left
  > div
  > strong {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -4px;
  color: #ffffff;
}

#instory-modal-content
  .story-viewer
  .ins-story-head
  .ins-story-head-left
  > .ins-story-head-back {
  display: none;
  width: 24px;
  margin: -6px -6px 0;
}

#instory-modal-content .story-viewer .ins-story-head .ins-story-head-right {
  float: right;
}

#instory-modal-content
  .story-viewer
  .ins-story-head
  .ins-story-head-right
  .ins-story-head-close {
  display: block;
  font-size: 28px;
  width: 32px;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  font-weight: 300;
  padding-top: 2px;
  line-height: 1 !important;
  border: initial;
  color: #ffffff;
  font-size: 35px;
  display: block;
}

#instory-modal-content
  .story-viewer
  .ins-story-head
  .ins-story-head-right
  .time {
  display: none;
}

#instory-modal-content .story-viewer .ins-story-head .ins-story-head-back {
  display: none !important;
  color: #ffffff;
  font-size: 42px;
  width: 48px;
  cursor: pointer;
  text-align: center;
}

#instory-modal-content .story-viewer .ins-story-head .ins-story-head-loading {
  display: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-top-color: #ffffff;
  animation: instoryLoading 1s infinite linear;
}

#instory-modal-content .story-viewer .ins-instory-full-story-overlay {
  height: 50px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

#instory-modal-content .story-viewer .ins-story-top-overlay {
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAAXNSR0IArs4c6QAAADlJREFUCB1jYGBgkGcCEgyoxH8QFyfxD64YzMKvDpsswgCwvWAl2FyAEENTgsYlYArIf4xwN0MMBQAf6BlkgEA7PAAAAABJRU5ErkJggg==")
    center repeat-x;
  top: 0;
}

#instory-modal-content .story-viewer .ins-story-bottom-overlay {
  background: transparent
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAAXNSR0IArs4c6QAAADRJREFUCB1jYGBgYGQCEgxwAsFFsMCyxHJxqgNLIAgmkJUILhoLvyxCMVgd2H1E6EAoZgAAQCgAitzFWLcAAAAASUVORK5CYII=")
    center repeat-x;
  bottom: 0;
}

#instory-modal-content .story-viewer .tip {
  transition: opacity 0.5s;
  text-decoration: none;
  display: none;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 24px;
}

#instory-modal-content .story-viewer .slides .item {
  display: none;
  overflow: hidden;
  background: #000000;
}

#instory-modal-content .story-viewer .slides .item.active {
  display: block;
}

#instory-modal-content .story-viewer .slides .item.active .tip.link {
  display: block;
}

#instory-modal-content .story-viewer .slides .item > .media {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  background-size: cover;
}

#instory-modal-content .story-viewer .slides .item::before {
  z-index: 4;
  background: 0 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#instory-modal-content .story-viewer .ins-wrap-full-story-text {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: matrix(1, 0, 0, 1, -9, 49) translate(-64px, -74px);
  width: 150px;
  z-index: 2147483638;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-text.ins-visible-element
  .ins-full-story-text {
  display: block !important;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-text.ins-wrap-full-story-element-library-text {
  left: 50%;
  top: 50%;
  transform: matrix(1, 0, 0, 1, -75, -60) translate(1px, -167px);
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-text
  .ins-full-story-text {
  display: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  width: 100% !important;
  font-family: "Open Sans", sans-serif;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-text
  .ins-full-story-text
  .ins-element-link {
  align-items: center;
  color: inherit;
}

#instory-modal-content .story-viewer .ins-sticker-wrapper {
  height: 53px;
  width: 60px;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: matrix(1, 0, 0, 1, 405, -92) translate(-34px, -39px);
}

#instory-modal-content
  .story-viewer
  .ins-sticker-wrapper
  .ins-full-story-sticker-element {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: grabbing;
}

#instory-modal-content .story-viewer .ins-wrap-full-story-button {
  max-width: 100%;
  position: absolute;
  z-index: 2147483638 !important;
  cursor: pointer;
  width: 150px;
  height: 47px;
  left: 50%;
  top: 50%;
  transform: matrix(1, 0, 0, 1, -63, 155) translate(-10px, 68px);
  display: flex !important;
}

#instory-modal-content .story-viewer .ins-full-story-countdown-wrapper {
  height: 118px;
  min-height: 110px;
  width: 262px;
  min-width: 262px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: matrix(1, 0, 0, 1, -129, -114) translate(-0.558218px, 59.2451px);
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown {
  background-color: #020b29;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px !important;
  border: 0 solid #434343;
  height: 100%;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-text-wrap {
  position: relative;
  text-align: center;
  width: 90%;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-text {
  color: #e0e7ff;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-text
  a {
  color: inherit !important;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper {
  position: relative;
  left: 50%;
  top: 25px;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  color: #4b64b9;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .ins-full-story-countdown-time {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .ins-full-story-countdown-time
  .ins-countdown-minutes-separator {
  display: none;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .ins-full-story-countdown-time[data-countdown-second="on"]
  .ins-seconds,
#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .ins-full-story-countdown-time[data-countdown-second="on"]
  .ins-countdown-minutes-separator {
  display: block;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .ins-countdown-separator {
  line-height: 32px;
  float: left;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 14px !important;
  font-style: normal !important;
  margin-right: 3px;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time-days[style*="display: none;"]
  + .ins-countdown-days-separator {
  display: none;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time {
  float: left;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure {
  position: relative;
  text-align: center;
  float: left;
  height: 32px;
  width: 24px;
  margin-right: 3px;
  background-color: #ffffff;
  font-style: normal !important;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
    inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  > span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 700;
  font-size: 18px;
  color: #4b64b9;
  line-height: 32px;
  background-color: #ffffff;
  padding: 0 !important;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .top:after,
#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .bottom-back:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .top {
  z-index: 3;
  transform-origin: 50% 100%;
  transform: perspective(200px);
  height: 50%;
  overflow: hidden;
  backface-visibility: hidden;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .top-back {
  height: 50%;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 4;
  bottom: 0;
  transform-origin: 50% 0;
  transform: perspective(200px) rotateX(180deg);
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .top-back
  span {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: auto;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .bottom {
  z-index: 1;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .bottom:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.02);
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .bottom-back {
  z-index: 2;
  top: 0;
  height: 50%;
  overflow: hidden;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .ins-figure
  .bottom-back
  span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#instory-modal-content
  .story-viewer
  .ins-full-story-countdown-wrapper
  .ins-full-story-countdown-time-wrapper
  .bloc-time
  .count-title {
  position: relative;
  top: 3px;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-button.ins-visible-element
  .ins-full-story-button {
  display: flex !important;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-button
  .ins-full-story-button {
  display: none;
  background-color: #ffffff;
  color: #2c2c2c;
  border: 1px solid #ffffff;
  border-radius: 32px !important;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  height: 100% !important;
  width: 100% !important;
  padding: 10px;
  min-height: inherit !important;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-button
  .ins-full-story-button
  .ins-element-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit !important;
  letter-spacing: normal !important;
}

#instory-modal-content .story-viewer .ins-wrap-full-story-swipe-button {
  max-width: 100%;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  z-index: 2147483638 !important;
  transition: all 0.25s ease-out;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-swipe-button.ins-active-swipe {
  bottom: 40px;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-swipe-button.ins-active-swipe
  .ins-full-story-swipe-button {
  opacity: 0.9;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-swipe-button.ins-visible-element
  .ins-full-story-swipe-button {
  display: flex !important;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-swipe-button
  .ins-full-story-swipe-button {
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  color: #ffffff;
  border-color: #333333;
  border-radius: 100% !important;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  box-shadow: 0 1px 2px 0 #000000;
  transition: all 0.25s ease-in;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-swipe-button
  .ins-full-story-swipe-button
  .ins-down-arrow {
  display: block;
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: inherit !important;
  transform: rotate(-45deg);
  margin-top: 4px;
}

#instory-modal-content
  .story-viewer
  .ins-wrap-full-story-swipe-button
  .ins-full-story-swipe-button
  .ins-element-link {
  position: absolute;
  width: 100vw;
  top: 30px;
  letter-spacing: 0.1px;
  color: inherit !important;
  text-decoration: inherit !important;
  font-size: inherit !important;
  line-height: 0.75;
  font-weight: inherit !important;
  font-style: inherit !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#instory-modal-content .story-viewer > .slides {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 720px;
}

#instory-modal-content .story-viewer > .slides > * {
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  width: 720px;
}

#instory-modal-content .story-viewer.paused.longPress .ins-story-head,
#instory-modal-content .story-viewer.paused.longPress .slides-pointers,
#instory-modal-content .story-viewer.paused.longPress .tip {
  opacity: 0;
}

#instory-modal-content .story-viewer.loading .head .right .time {
  display: none;
}

#zuck-modal.with-effects {
  transform-origin: center center !important;
}

#zuck-modal .slider > .next {
  left: 0;
}

#zuck-modal .slider > .previous {
  left: 720px;
}

#zuck-modal .slider > .next {
  left: 720px;
}

#zuck-modal .slider > .viewing {
  left: 720px;
  transform: translateZ(calc(720px / 2));
}

#zuck-model.with-effects {
  transform: scale(0.01);
  transition: 0.25s;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 720px;
  height: 405px;
  margin-top: calc(-405px / 2) !important;
  margin-left: calc(-720px / 2) !important;
}
