@import "./fonts.css";
@import "./variables.css";
@import "./reset.css";
@import "./default.css";
@import "./footer.css";
@import "./shared.css";
@import "./menu.css";

.container-2xl-w {
    width: 100%;
    max-width: 1280px;
}

.privacy-container__img-wrapp {
    width: 48px;
    height: 48px;
}

.privacy-text-h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.1;
}

.privacy-paragraph {
    font-size: .8rem;
    font-weight: 400;
    line-height: 2.15;
    color: #3f4064;
}

/* Start Accordion Styles */


.accordion-item {
    padding: .75rem 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e6;
}

.accordion-item:last-of-type {
    border-radius: 0;
}

.accordion-body h6 {
    margin: 0;
    font-size: .7rem;
    line-height: 2.1;
}

.accordion-button {
    font-size: .9rem;
    font-weight: 600;
    line-height: 2;
    padding: 1rem 0;
}

.accordion-button::after {
    margin-right: auto;
    margin-left: 0;
    background-size: .75rem;
    width: .75rem;
    height: .75rem;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    background-color: #fff !important;
    color: #3f4064 !important;
}

.accordion-button:focus {
    border: 0;
    box-shadow: none;
}

/* Finish Accordion Styles */

/* Start Login Loading Styles */

.login-loading__btn-wrapp {
    top: 115%;
    left: 50%;
    cursor: pointer;
}

/**
  * ==============================================
  * Dot Flashing
  * ==============================================
  */

.dot-flashing {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: #9880ff;
    }

    50%,
    100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}